<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/modules.css">
    <link rel="stylesheet" href="../../../styles/thems.css">
    <link rel="stylesheet" href="../../../styles/layout.css">

</head>

<body>
 <%-include('../../layout/header')%>
    <main>
        <div class="text-center sub-head">
            <p>Search by Title or Author</p>
        </div>
        <form class='search' action="/searches" method="POST">
            <label for="search">
                <input type="text" name="search" id="search" placeholder="Enter a title or author" required>
            </label>
            <label for="title">
                <p>Tilte</p>
                <input type="radio" name="check" id="title" value="intitle">
            </label>
            <label for="author">
                <p>Author</p>
                <input type="radio" name="check" id="author" value="inauthor">
            </label>
            <input type="submit" value="Search the Google Books API">

        </form>
    </main>
</body>

</html>