<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/modules.css">
    <link rel="stylesheet" href="../../../styles/thems.css">
    <link rel="stylesheet" href="../../../styles/layout.css">

</head>

<body>
    <header>
        <div class="main-head">
            <h1>Best Books!</h1>
        </div>
        <!-- <div class="text-center sub-head">
            <p>Search by Title or Author</p>
        </div> -->
    </header>
    <main>
        <h5>Welcom on book-app</h5>
        <h6>we still work on this page but please checkout the link belowe for search in a book</h6>
        <a href="/searches">
            <p>search book here</p>
        </a>
    </main>
</body>

</html>