<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/base.css">
  <link rel="stylesheet" href="../../../styles/modules.css">
  <link rel="stylesheet" href="../../../styles/thems.css">
  <link rel="stylesheet" href="../../../styles/layout.css">
  <script src="https://kit.fontawesome.com/60a3d0faa7.js" crossorigin="anonymous"></script>

</head>

<body>
  <%-include('../layout/header')%>
 
  <main>
    <%if(books.length > 0){%>
    <h4 class="total-books"><span><%=books.length%></span> Saved Books</h4>

    <%}else{%>

    <h2 class="non-books"> Still You didn't save any books<br> Please add Books for Goole APIs in the link belowe <h2>
        <a class='non-a' href="">HERE</a>
        <%}%>
    <ul>
      <% books.forEach(book=>{%>
        <%-include('./books/detail',{book , place:'index'})%>
        <li>


        </li>
        <%}) %>
        </ul>
  </main>
 
</body>

</html>