.form-edit {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
  background: grey;
  height: 80%;
}

.form-div{
  position: absolute;
  top: 0%;
  width: 40%;
  left: 30%;
  background: #0000009e;
  height: 100%;
}
label,
input[type='submit'] {
  margin: 10px;
  height: 50px;
}
label p,
label input[type='radio'] {
  /* margin: 32px 0; */
  position: relative;
  top: 25%;
  margin-left: 10px;
}
label input[type='radio'] {
  left: 60px;
}
#search {
  width: 100%;
  height: 100%;
}
label p {
  display: inline-block;
  width: 0%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div,
li {
  background-color: gainsboro;
  width: 85%;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  height: 87%;
}
.div img {
  width: 50%;
  height: 225px;
  margin: 25px 15%;
}
.div p {
  margin: 4px;
}
.par {
  width: 80%;
  margin: 0 10%;
  max-height: 90px;
  overflow-y: scroll;
}
main li img {
  width: 65%;
  height: 310px;
  margin: 25px 15%;
}
main li p {
  margin: 4px;
}

.des {
  margin: 10px 10px;
  text-align: start;
}
html {
  overflow: hidden;
}

body {
  max-height: 100%;
  /* overflow: none; */
}
main {
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-head {
  display: flex;
  justify-content: space-between;
}

i:active {
  color: gold;
  /* background-color: gold; */
}


.search{
  width: 82%;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 20px 9%;
}
