 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="../../../styles/reset.css">
     <link rel="stylesheet" href="../../styles/base.css">
     <link rel="stylesheet" href="../../../styles/modules.css">
     <link rel="stylesheet" href="../../../styles/thems.css">
     <link rel="stylesheet" href="../../../styles/layout.css">
 </head>
 <body>
     <header>
            <div class="main-head">
                <h1>Best Books!</h1>
                <div class="hamburgerrr">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
            </div>
            <div class="popup popup1">
                <a href="/searches">
                  <p>search book here</p>
                </a>
                <a href="/">
                  <p>HOME</p>
                </a>
                <!-- <a href="/searches">
                  <p>search book here</p>
                </a> -->
              </div>
        </header>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>

        <script src="/header.js"></script>
 </body>
 </html>
 